AcceptEnv LANG LC_*
AllowAgentForwarding no
AllowTcpForwarding no
ChallengeResponseAuthentication yes
Ciphers aes128-ctr,aes128-cbc
ClientAliveCountMax 3
ClientAliveInterval 600
Compression yes
GatewayPorts no
HostKey /var/sshKeys/ssh_host_rsa_key
HostbasedAuthentication no
IgnoreRhosts yes
IgnoreUserKnownHosts yes
KexAlgorithms diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1,diffie-hellman-group-exchange-sha256,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521
LogLevel VERBOSE
LoginGraceTime 30s
MACs hmac-sha2-512,hmac-sha2-256,hmac-ripemd160
PasswordAuthentication yes
PermitEmptyPasswords no
PermitRootLogin no
PermitTunnel no
PermitUserEnvironment no
PrintMotd no
Protocol 2
PubkeyAuthentication no
StrictModes yes
Subsystem sftp internal-sftp -f AUTHPRIV -l info
SyslogFacility AUTH
TCPKeepAlive no
X11Forwarding no
X11UseLocalhost yes